@{
    ViewData["Title"] = "Home Page";
}


<body> 

<div class="text-center">
    <h1 class="display-4">Friends of Apex Legends Leaderboard</h1>
</div>

<br/>
<br/>
<br/>

<div class="type container">
    <div class="typed-out">Here you can create a cross platform friends list to see other players current levels and most recently played legends!</div>
</div>

<br/>
<br/>
<br/>
<br/>

<div>

<a style="text-decoration:none" asp-controller="Global" asp-action="Index"> <h3 class="blink">Click here to continue.</h3> </a>

</div>

<video autoplay loop muted plays-inline class="back-video"> 
    <source src="images/apex-video-background-download-worlds-edge-5.mp4" type="video/mp4">
</video>

</body>

<style>
    .typed-out{
        overflow: hidden;
        white-space: nowrap;
        font-size: 1rem;
        animation: 
        typing 7.5s steps(120, end) forwards,
        blinking 1.2s infinite;
        margin: 0;
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }

    .type container{
        display: inline-block;
        padding: 25px 0;
        text-align: center;
    }

    @@keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

  .blink {
       animation: blink-animation 1s steps(5, start) infinite;
       -webkit-animation: blink-animation 1s steps(5, start) infinite;
       margin: auto;
       width: 50%;
       padding: 10px;
       text-align:center;
      }

      @@keyframes blinking {
          from {border-color: transparent}
          to {border-color: azure}
      }

     @@keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }

     @@-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
     }

  </style>